.lt_history {
  padding: 10px;
  font-size: 12px;
}
.lt_history .history_title {
  height: 30px;
  line-height: 30px;
  color: #666;
}
.lt_history .history_content ul {
  border: 1px dashed red;
}
.lt_history .history_content ul li {
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed red;
}
.lt_history .history_content ul li span {
  height: 30px;
  line-height: 30px;
  display: block;
}
.lt_history .history_content ul li:last-of-type {
  border: none;
}
